<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.only.test.mybatis.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.only.test.mybatis.entity.User">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
    </resultMap>

    <cache></cache>

    <update id="updateByUserId" parameterType="map">
        update user
        set username = #{username}
        where user_id = #{userId}
    </update>


    <sql id="Base_Column_List">
        user_id
        , username
    </sql>

    <select id="getByUserId" resultMap="BaseResultMap" parameterType="map" useCache="true">
        select
        <include refid="Base_Column_List"/>
        from user where user_id = #{userId}
    </select>

    <select id="getByUsername" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from user
        where username = #{username}
    </select>

    <insert id="saveUser" parameterType="com.only.test.mybatis.entity.User">
        insert into user (username) values (#{username})
    </insert>
</mapper>