<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"></meta>
    <title>首页</title>


    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
    <link rel="stylesheet" href="../static/css/index.css" type="text/css"/>

</head>
<body>
<div hidden="display:none" id="succ" style="text-align: center">
    <h1>welcome to spring cloud security api</h1>
    <button type="button" id="ord">获取订单信息</button>
    <div>
        订单ID：
        <div id="orderId"></div>
        商品ID：
        <div id="productId"></div>
    </div>
    <button type="button" id="logout">退出</button>
</div>
</body>
</html>