<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--开启驼峰命名适配-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--开启二级缓存  只要value不是显示配置为value = false,都会采用CachingExecutor执行器-->
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <plugins>
        <plugin interceptor="com.only.test.mybatis.plugin.PagePlugin"></plugin>
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/only"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- mapper接口扫描包-->
        <package name="com.only.test.mybatis.mapper"></package>
        <!--  <mapper resource="com/only/test/mybatis/mapper/UserMapper.xml"></mapper>
          <mapper resource="com/only/test/mybatis/mapper/RoleMapper.xml"></mapper>-->
    </mappers>
</configuration>